# Ignore .env file to avoid committing sensitive information
.env

# Ignore Ngrok config file to avoid committing sensitive information
**/ngrok.yaml

# Ignore everything inside vault/ssl directory
**/vault/ssl/*
**/vault/script/*
!**/vault/script/.env.example
!**/vault/script/generate_token.sh

# Ignore everything inside jenkins/jenkins directories
**/jenkins/*
**/jenkins/jenkins_home/*

**/db/*