# Ignore .env file to avoid committing sensitive information
.env

# Ignore Ngrok config file to avoid committing sensitive information
**/ngrok.yaml

# Ignore everything inside vault/ssl directory
**/vault/ssl/*