version: 2
authtoken: 2762seBEECApMPUQZLnJdGfeI0T_5YcvZFBbWSdiovo8vV2pe
region: ap
log_level: debug
tunnels:
  jenkins:
    proto: http
    addr: jenkins:8080
    domain: jenkins.weehong.dev
  vault:
    proto: http
    schemes: 
      - https
    addr: https://vault:8200
    domain: vault.weehong.dev
  sonar:
    proto: http
    addr: sonar:9000
    domain: sonar.weehong.dev